<!DOCTYPE html>

<html>
    <head>
        <title>管理系統</title>
    </head>

    <body>
        <a href='/redirectIndex'>回目錄</a><br/>

        <form method='post'>
            {% csrf_token %}
            姓名: <input type="text" name="cusName"> <br>
            編號: <input type="text" name="cusCode"> <br>
            電話: <input type="text" name="cusPhoneNum"> <br>
            <!-- 生日: <input type="date" name="cusBirthDate"> <br> -->
            性別(F/M): <input type="text" name="cusSex"> <br>
            備註: <input type="text" name="cusRemarks"> <br>
                
            <input type="submit" value="新增">
        </form>
    </body>

</html>