<!DOCTYPE html>

<html>
    <head>
        <title>管理系統</title>
    </head>
    <body>
        <a href='/redirectIndex'>回目錄</a><br>

        <form method="POST">
            {% csrf_token %}
            規則名稱: <input type="text" name="bonusName"><br>
            規則編號: <input type="text" name="bonusCode">
            目前編號: {{codeNow}}<br>
            獎金金額: <input type="number" name="bonusValue"><br>

            <input type="submit" name="completeAdd" value="完成">
        </form>
    </body>
</html>

