<!DOCTYPE html>

<html>
    <head>
        <title>管理系統</title>
    </head>
    <body>
        <a href='/redirectIndex'>回目錄</a><br>

        <form method="POST">
            {% csrf_token %}
            名稱: <input type="text" value="{{editSalaryNow.bonusName}}" name="bonusName"><br>
            編號: <input type="text" value="{{editSalaryNow.bonusCode}}" name="bonusCode"><br>
            獎金金額: <input type="text" value="{{editSalaryNow.bonusValue}}" name="bonusValue"><br>
            <input type="submit" name="completeEdit" value="完成">
        </form>
    </body>
</html>

