<!DOCTYPE html>

<html>
    <head>
        <title>管理系統</title>
    </head>
    <body>
    <a href='/redirectIndex'>回目錄</a><br/>
    <form method="POST">
        {% csrf_token %}
        選擇報表:
        <select name="selectSection">
            <option value="">---</option>
            <option value="seleReport">銷售紀錄</option>
            <option value="setSaleReport">課程扣點紀錄</option>
            <option value="importReport">進出貨紀錄</option>
        </select><br>
        依照
        <select name="selectOrder">
            <option value="orderDateFromOld">日期從舊到新</option>
            <option value="orderDateFromNew">日期從新到舊</option>
        </select>
        排序
        <input type="submit" name="exportReport" value="查詢">
    </form>

    </body>
</html>