<!DOCTYPE html>

<html>
    <head>
        <title>管理系統</title>
    </head>

    <body>
        <a href='/redirectIndex'>回目錄</a><br/>

        <form method='post'>
            {% csrf_token %}
            銷售顧客: <input type="text" name="cusSearch", value="{{ saleAll.saleCusCode }}">
                
            <input type="submit" value="查詢" name="cusBut">
        </form>
            
        <table border="1" cellpadding="0" cellspacing="0">
            <th>姓名</th>
            <th>編號</th>
            <th>電話</th>
            <th></th>

            {% for res1 in queryRes1 %}
            <tr>
                <td>{{ res1.cusName }} </td>
                <td>{{ res1.cusCode }} </td>
                <td>{{ res1.cusPhoneNum }} </td>
                <td><a href='/saleCus/{{res1.cusCode}}'>選取</a></td>
            </tr>
            {% endfor %} 
        </table>              
        
        <form method='post'>
            {% csrf_token %}
            商品名稱: <input type="text" name="stockSearch", value="{{ saleAll.saleStockCode }}">
                
            <input type="submit" value="查詢" name="stockBut">
        </form>
            
        <table border="1" cellpadding="0" cellspacing="0">
            <th>類別</th>
            <th>編號</th>
            <th>名稱</th>
            <th>牌價</th>
            <th>數量</th>
            <th></th>
    
            {% for res2 in queryRes3 %}
            <tr>
                <td>{{ res2.stockType }} </td>
                <td>{{ res2.stockCode }} </td>
                <td>{{ res2.stockName }} </td>
                <td>{{ res2.stockPrice }} </td>
                <td>{{ res2.stockQua }} </td>
                <td><a href='/saleStock/{{res2.stockCode}}'>選取</a></td>
            </tr>
            {% endfor %} 
        </table>

        <form method="POST">
                {% csrf_token %}
                銷售員工    : <input type="text" name="empSearch", value="{{ saleAll.saleEmpCode }}">
    
                <input type="submit" value="查詢本店員工" name="empBut">
                <input type="submit" value="查詢所有員工" name="empAllBut">
        </form>

        <table border="1" cellpadding="0" cellspacing="0">
            <th>姓名</th>
            <th>編號</th>
            <th>電話</th>
            <th>所屬分店</th>
            <th>職位</th>
            <th></th>

            {% for res3 in queryRes2 %}    
            <tr>
                <td>{{ res3.empName }} </td>
                <td>{{ res3.empCode }} </td>
                <td>{{ res3.empPhoneNum }} </td>
                <td>{{ res3.empShop }} </td>
                <td>{{ res3.empClass }} </td>
                <td><a href='/saleEmp/{{res3.empCode}}'>選取</a></td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <form method="POST">
            {% csrf_token %}
            銷售日期: <input type="date" name="saleDate"></br>
            銷售分店: <input type = "text" name = "saleShop" value="{{damn}}"></br>
            銷售數量: <input type = "text" name = "saleQua"></br>
            銷售價格: <input type = "text" name = "salePrice" value="{{stockNow.stockPrice}}"></br>
            銷售記積: <input type = "text" name = "salePoint" value="{{stockPoint}}"></br>
            收入類別:         
            <select name="selectSaleType">
                <option value="scalpCare">頭皮護理收入</option>
                <option value="barber">洗剪染燙收入</option>
                <option value="stock">一般商品收入</option>
                <option value="set">儲值卡收入</option>
            </select><br>
            備註: <input type = "text" name = "saleRemark">

            <input type="submit" value="完成" name="completeSale"> 
        </form>

    </body>

</html>